@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reddit-font {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-font  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.grad-1 {
  background: linear-gradient(
    170deg,
    rgba(58, 69, 77, 0.4) 0%,
    rgba(16, 23, 28, 0.8) 60%
  );
  backdrop-filter: blur(100px);
}
.icon-border {
  border-style: inset;
  border: 2px solid #1a1a1a5f;
}

.border-b {
  border: 1px solid blue;
}
.border-r {
  border: 1px solid red;
}
li {
  list-style: none;
}

button {
  outline: 0;
}

#noise-rect {
		animation: rotate-animation 10s infinite linear;
	}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.noise-border {
  background: #00000000;
  mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: \73 ubtract;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: \73 ource-out;
  padding: 2px; /* This defines the border width */
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html { /* Or target a specific container element */
  scrollbar-width: none;
}

/* For Internet Explorer and older Edge versions */
html { /* Or target a specific container element */
  -ms-overflow-style: none;
}

/* zoom related */
html{
  zoom: 0.85;
}

